@use 'tokens' as *;
@use 'icons';
@use 'layout';
@use 'editor';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a {
  color: $primary;

  &:hover,
  &:focus {
    color: $info;
  }
}
